.desktop {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        font-size: 2rem;
        background: rgba(0, 0, 0, 0.546);
        padding: 1rem 4rem;
        color: white;
    }
}