* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-align: none;
    list-style: none;
}

body {
    background: linear-gradient(rgb(8, 46, 183), rgb(26, 26, 26));
    font-family: "Roboto", sans-serif;
    color: rgb(207, 207, 207);
}